 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device_width, initial_scale=1.0">
     <title>LINCT_UNIVERSITY</title> 
     <style>
        body{
            background-color:white;
            font-family: 'Times New Roman';
            font-style: normal;
            font-size: medium;
            text-decoration-color: black;
            margin: 0;

        }
     </style>
    </head>
    <body>
        <header>about_us</header>
        <nav style="text-align: center;">
           
            <a href="/about.html" target="_blank">HOME|</a>
            <a href="/contact.html" target="_blank">CONTACT|</a>
            <a href="register" target="_blank">REGISTER|</a>
            <a href="/admin">admin</a>
        </nav>
        <main>
           <p1 style="color: blue;" >Lakshmi Narain College of Technology (LNCT) in Bhopal is a prominent private engineering college<br> established in 1994, known for strong academics, good infrastructure (labs, smart classrooms, research), high placements in Central India, and being the first self-financed engineering college in North Central India, offering B.Tech, M.Tech, MBA, MCA, etc., under the HK Kalchuri Education Trust. It's part of the larger LNCT Group, which includes LNCT University, offering diverse programs like Medical, Pharmacy, Law, etc. <br> 
Key Highlights:
History: Founded in 1994 by Shri Jai Narayan Chouksey. 
Accreditation: NBA accredited and affiliated with AICTE, UGC, PCI, BCI. 
Academics: Strong focus on engineering (CS, IT, Mechanical, Civil, etc.) and management, with research initiatives. 
Placements: Noted for high placement rates in Central India, attracting major companies like Infosys, Wipro, Capgemini. 
Infrastructure: Modern labs, smart classrooms, extensive campus. 
LNCT Group (Broader Context):
The group also includes LNCT University, offering broader disciplines like Medical, Pharma, Ayurveda, Law, etc. 
It's a leading educational group in Central India. 
In Summary: LNCT Bhopal is a well-regarded institution for technical education, focusing on practical skills and placements, making it a popular choice for engineering aspirants in Madhya Pradesh. 
LNCT College | Top Engineering Colleges In Bhopal, MP, India</p1>

<p2>LNCT</p2>

<p> About Us - LNCT</p>
<p4>The LNCT Campus at Bhopal is spread over a lush green environment of approx. 50 acres. The campus constitutes of many buildings th...

LNCT</p4>

<h2> Narain College of Technology, Bhopal</h2>

<img src="{% static "images/lnct 1.jpg" %}" width="400">


<video class="right-video" width="400" height="200" controls>
    <source src="{% static "videos/lnct video.mp4" %}" type="video/mp4">
</video>
           
        </main>
    </body>
 </html>