 <!DOCTYPE html>
 <html lang="en">
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device_width, initial_scale=1.0">
     <title>CONTACT_US</title> 
    </head>
    <body>
        <header>contact_us</header>
        <nav style="text-align: center ;">
            
            <a href="/about.html" target="_blank">HOME</a>
            <a href="/contact.html/" target="_blank" >CONTACT</a>
            
            <a href="/admin">admin</a>
        </nav>
        <main>
           <header> For LNCT Bhopal</header> 
           <div >
<h1>Key Contacts:</h1>
<ul>
<li>Reception: 0755-6185300</li>
<li> Admission Helpline: 7440777111</li>
<li> Cell: 0755-6185350, 0755-6685400</li>
<li>Training & Placement: 9826062730, 0755-6185341</li>
</ul> 
<h2>Email:</h2>
<ul>
<li> info@lnct.ac.in</li>
<li>Admissions: admission@lnct.ac.in </li>
</ul>
           </div>
                     <a href="/register/" target="_blank">REGISTER NOW</a>
           <Address>
<header>Address</header>
LNCT Campus, Kalchuri Nagar, (P.O. Kolua) Raisen Road, Bhopal-462022 (M.P) 
For LNCT University (Separate Entity):
Reception: 0755-4049666
Admission Helpline: 07440777222
Address: J.K. Town, Kolar Road, Bhopal, Madhya Pradesh 462042
           </Address>
            
        </main>
    </body>
 </html>