<!DOCTYPE html>
<html lang="en">
    <head>
    <title>STUDENT REGISTRATION</title>
    </head>
    <body>
        <header>register student</header>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <label>name</label><br>
            <input type="text" name="name" required><br>
            <label for="phonenumber">please enter your phonenumber</label>
            <input type="tel" id="phonenumber" name="phonenumber" required>
            <label>email</label><br>
            <input type=" email" name="email" required><br>
            <label for="country">please choose your permanent country</label>
            <select id="country" name="country">
                <option value="UGANDA">UGANDA</option>
                <option value="MALI">MALI</option>
                <option value="GHANA">GHANA</option>
                <option value="KENYA">KENYA</option>
                <option value="RWANDA">RWANDA</option>
                <option value="TANZANIA">TANZANIA</option>
                <option value="RWANDA">RWANDA</option>
                <option value="INDIA">INDIA</option>
                <option value="ZAMBIA">ZAMBIA</option>
                <option value="TUNISIA">TUNISIA</option>
                <option value="NIGERIA">NIGERIA</option>
                <option value="DUBAI">DUBAI</option>
                <option value="SAUDI_ARABIA">SAUDI_ARABIA</option>
            </select> 
            <label for="document">please upload your passport</label>
            <input type="file" id="document" name="document" accept=".pdf,.doc,.docx">
            <button type="submit">submit</button>
            </body>
        </html>